/auto-save-list/
/bookmarks
/.cache
/cider-history
/eln-cache
/elpa/
/.emacs.desktop
/.emacs.desktop.lock
/eshell/
/.historian
/.lsp-session*
/.mc-lists.el
/network-security.data
/.org-id-locations
/.persistent-scratch
/projectile.cache
/projectile-bookmarks.eld
/recentf
/.savehist
/.saveplace
/temp/
/transient
/tramp
/url/
/var
/.cask/
/elpy
/projects
