auto-save-list/
eshell/
elpa/
.emacs.desktop
.emacs.desktop.lock
.savehist
.temp/
.org-temp/
projectile.cache
projectile-bookmarks.eld
recentf
tramp
bookmarks
ensime
.mc-lists.el
/.persistent-scratch
/var
/network-security.data
/elpa-mirror
.lsp-session
